@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2rem;
  letter-spacing: -1px;
}

h1.big {
  font-size: 9rem;
  opacity: 0.1;
  margin-bottom: -3rem;
  z-index: -1;
}

.letter-span {
  display: inline-block;
  transition: all 0.4s ease-out;
}

.letter-initial {
  opacity: 0;
  transform: translateY(3rem);
}

.letter-final {
  opacity: 1;
  transform: translateY(0);
}

h2 {
  font-size: 1.1rem;
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
  background: var(--background);
}

.card {
  position: relative;
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  padding: 1rem;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
  overflow: hidden;
  height: 300px; 
  min-width: 200px;
}

.info {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  margin-bottom: 10px;
}

.movie_details {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  padding: 10px;
  background: rgba(125, 125, 125, 0.386);
  color: #fff;
  backdrop-filter: blur(3px);
  box-sizing: border-box;
  transition: bottom 0.2s ease-in-out;
}

.card:hover .movie_details {
  bottom: 0;
}
