@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@view-transition {
  navigation: auto;
}

h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  word-break: keep-all;
  z-index: -1;
}

h1.big {
  font-size: 9rem;
  opacity: 0.2;
  margin-bottom: -3rem;
  z-index: -1;
}

.letter-span {
  display: inline-block;
  transition: all 0.4s ease-out;
}

.single_image {
  border-radius: 20px;
}

.letter-initial {
  opacity: 0;
  transform: translateY(3rem);
}

.letter-final {
  opacity: 1;
  transform: translateY(0);
}

h2 {
  font-size: 1.1rem;
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
}

.grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1rem;
  background: var(--background);
  z-index: -1;
}

.card {
  position: relative;
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  padding: 1rem;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
  overflow: hidden;
  min-width: 220px;
  aspect-ratio: 1/1.5;
}

.info {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  margin-bottom: 10px;
}

.movie_details {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  padding: 10px;
  background: rgba(125, 125, 125, 0.386);
  color: #fff;
  backdrop-filter: blur(3px);
  box-sizing: border-box;
  transition: bottom 0.2s ease-in-out;
}

.card:hover .movie_details {
  bottom: 0;
}

.search_input {
  border: #ccc 1px solid;
  background: var(--background);
  color: var(--foreground);
  width: 100%;
  padding: 10px;
  font-size: 1.3rem;
  border-radius: 10px;
}

.search_panel {
  position: absolute;
  width: 100%;
  background-color: var(--background);
  color: var(--foreground);
  max-height: 40vh;
  overflow-y: auto;
  margin-top: 4px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.342);
}

.search_panel_empty {
  position: absolute;
  width: 100%;
  background-color: var(--background);
  color: var(--foreground);
  margin-top: 4px;
  padding: 10px;
}

.search_item {
  padding: 10px;
  border-bottom: 1px solid #8e8e8e63;
  cursor: pointer;
  display: flex;
  gap: 10px;
}

.back {
  position: relative;
  margin: 20px 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.2rem;
  border: 2px solid #80808065;
  cursor: pointer;
  color: var(--foreground);
}

.back::before {
  content: '< ';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.movie-detail {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.movie-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  span {
    font-weight: bold;
  }
}
.single_detail {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 1268px) {
  h1.big {
    font-size: 5rem;
    margin-bottom: -2rem;
  }
}

@media (max-width: 768px) {
  .movie-detail {
    flex-direction: column;
    align-items: center;
  }

  h1.big {
    font-size: 3rem;
    margin-bottom: -0.5rem;
  }
}
